// contact-hero-sec

.contact-hero-sec {
  min-height: 100vh;
  background: linear-gradient(to left, rgba(black, 0.5), rgba(black, 0.6)),
    url(../media/contact.jpg) no-repeat;
  background-size: cover;
  transition: all 1s linear;
  &:hover h2 {
    animation-name: about-head;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  & > div {
    height: 100%;
  }
  h2 {
    color: wheat;
    font-size: 3rem;
  }
}

// contact-form-sec
.contact-form-sec {
  input,
  textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border: 1px solid rgba(128, 128, 128, 0.493);
    border-radius: 10px;
    &::placeholder {
      padding-left: 1rem;
    }
  }
  a {
    transition: all 1s ease-out;
    &:hover {
      transform: translateY(5px);
    }
  }
}

// location=-sec

.location-card {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px 4px gray;
  & > * {
    margin-bottom: 1rem;
  }
  address a {
    font-size: 1rem;
  }
  transition: all 2s ease-in;
  &:hover {
    transform: scale(1.2);
    background-color: $card-body;
    z-index: 3;
    address a,
    i {
      color: $ter;
    }
  }
}
