.header {
  padding: 2rem 0;
  position: absolute;
  width: 100%;
  strong {
    color: wheat;
  }
  li {
    margin-right: 1rem;
    transition: all 0.5s linear;
    &:hover {
      transform: translateY(5px) rotate(5deg);
    }
    a {
      font-weight: 700;
      font-size: 1.2rem;
      color: wheat;
      &:hover {
        color: white;
      }
    }
  }
}
.header-active a {
  color: goldenrod;
}

.footer {
  small {
    font-size: 1rem;
  }
}
